{% extends templateToExtend %}

{% block blogContent %}

    {% for post in posts %}
        <h3 style="text-underline: auto">
            <i class="icon-calendar"></i>{{ post.createdAt|date() }}
        </h3>
        <h1>
            <a href="{{ path('bbit_blog_view', {'slug': post.slug}) }}">{{ post.title }}</a>
        </h1>
        <p>
            {{ post.getShortBody|markdown }}
            <a href="{{ path('bbit_blog_view', {'slug': post.slug}) }}">Read More</a>
        </p>


        <hr>

    {% endfor %}

{% endblock %}
