{% extends templateToExtend %}

{% block blogContent %}

    {% for post in posts %}
        <span class="h1" style="line-height: 0%;">
            <a href="{{ path('bbit_blog_view', {'slug': post.slug}) }}">{{ post.title }}</a>
        <br>
            <i class="icon-calendar" style="font-size: small; "> {{ post.createdAt|date('d/m/Y') }}</i>
        </span>
        <p>
            {{ post.getShortBody|markdown }}
            <a class="{{ btn_class }}" href="{{ path('bbit_blog_view', {'slug': post.slug}) }}">Read More</a>
        </p>


        <hr>

    {% endfor %}

{% endblock %}
