{% extends templateToExtend %}

{% block title %}Blog - {{ post.title }}{% endblock %}
{# fix title some other way, dont taint bundle #}

{% block blogContent %}

    {% javascripts debug=true
    'bundles/bbitblog/highlighter/scripts/shCore.js'
    'bundles/bbitblog/highlighter/scripts/shBrushPhp.js'
    %}
    <script language="javascript" type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}


    {% stylesheets filter="cssrewrite" debug=true
    'bundles/bbitblog/highlighter/styles/shCoreMidnight.css'
    'bundles/bbitblog/highlighter/styles/shThemeMidnight.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>



        <span class="h1" style="line-height: 0%;">
            <a href="{{ path('bbit_blog_view', {'slug': post.slug}) }}">{{ post.title }}</a>
        <br>
            <i class="icon-calendar" style="font-size: small; "> {{ post.createdAt|date('d/m/Y') }}</i>
        </span>
    <br>
        <p>
            {{ post.body|markdown }}
        </p>


    <br><hr>

<h2>Like this article? Share it!</h2>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ addthis_pubid }}" async="async"></script>
    <div class="addthis_sharing_toolbox"></div>

    <div id="disqus_thread"></div>





    <script type="text/javascript">

        var disqus_shortname = '{{ disqus_shortname }}';
        var disqus_identifier = '{{ post.id }}';
        var disqus_title = '{{ post.title }}';
        var disqus_url = '{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getRequestUri() }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>




{% endblock %}
